body {
  padding: 30px;
  font-family: 'Times';
  color: #0909bc;
  background-image: url("/background_image.jpg");
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkred;
}

#menu {
  width: auto;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#logo {
  text-align: center;
}

ul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

li {
  float: none;
}

li a {
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration:  none;
}
