body {
  padding: 30px;
  font-family: 'Times';
  color: #0909bc;
  background-image: url("/background_image.jpg");
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkred;
}

#menu {
  width: auto;
  display: flex;
  margin: 0 auto;
}

#logo {
  text-align: center;
}

ul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
  margin: auto;
  padding: 100;
  overflow: auto;
  background-color: #333;
}

li {
  float: none;
}

li a {
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration:  none;
}

h1{
  color: darkred;
  text-align: center;
}

#member-wrapper {
  margin-left: 300px;
}
.member {
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
  display: inline-block;
}
