<h1>Edit Session</h1>
<form action="/gym/sessions/<%=@session.id%>" method="post" id="form">
  <label for="type">Type: </label>
  <input type="text" id="type" name="type" value="<%= @session.type%>">
  <br>

  <label for="instructor">Instructor: </label>
  <input type="text" id="instructor" name="instructor" value="<%= @session.instructor %>">
  <br>

  <label for="time">Time: </label>
  <input type="text" id="time" name="time" value="<%= @session.time %>">
  <br>

  <input type="submit" value="Submit application">
</form>
