<h1>Members In Session</h1>

<div id="member-wrapper">
  <% for member in @members %>

  <div class="member">
    <p>First name: <%= member.first_name  %></p>
    <p>Last name: <%= member.last_name %></p>
    <p>Session: <%= Session.find_by_id(member.session).type %></p>
    <p>Age: <%= member.age  %></p>
  </div>
  <br>
  <% end %>
</div>
