<h1>New Session</h1>
<form action="/gym/sessions" method="post" id="form">
  <label for="type">Type: </label>
  <input type="text" id="typr" name="type">
  <br>
  <label for="instructor">Instructor: </label>
  <input type="text" id="instructor" name="instructor">
  <br>
  <label for="time">Time: </label>
  <input type="text" id= "time" name="time">
  <br>
  <input type="submit" value="Submit application">
</form>
